<div>
  <h3><%= t('collections.show.header', collection_name: collection.name) %></h3>
  <p>
    <strong><%= t 'collections.show.description' %></strong>
    <%= collection.content %>
  </p>
  <p>
    <strong><%= t 'collections.show.theme' %></strong>
    <%= collection.theme_text %>
  </p>
  <% if !collection.picture.file.nil? %>
    <p>
      <%= image_tag collection.picture.url %>
    </p>
  <% end %>
  <p>
    <%= link_to (t 'collections.show.view'), collection_path(collection) %>
  </p>
  <% if user_signed_in? and (@host_user.id == current_user.id) and !current_user.blocked %>
    <p><%= link_to 'edit', edit_collection_path(collection) %></p>
  <% end %>
</div>
