<%= form_for Collection.new, url: collections_path, html: { multipart: true }, method: :create do |form| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <p>
    <%= form.label t 'collections.show.name' %><br>
    <%= form.text_field :name %><br>
    <i><%= t 'collections.show.warning' %></i>
  </p>
  <p>
    <%= form.label t 'collections.show.description' %><br>
    <%= form.rich_text_area :content %>
  </p>
  <p>
    <%= form.label t 'collections.show.theme' %><br>
    <%= form.select(:theme, Collection.theme.options) %>
  </p>
  <p>
    <%= form.label t 'collections.show.picture' %><br>
    <%= form.file_field :picture %>
  </p>
  <%= form.submit (t 'collections.show.create'), class: "btn btn-success" %>
<% end %>
