<%= form_for Collection.new, url: user_collections_path(current_user), method: :create do |form| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <p>
    <%= form.label ("Collection name") %><br>
    <%= form.text_field :name %>
    name should be unique and 3 characters length at minimum
  </p>
  <p>
    <%= form.label :Description %><br>
    <%= form.text_area :description %>
  </p>
  <%= form.submit %>
<% end %>
