<div class='nested-fields'>
  <p class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p class="field">
    <%= f.label t 'collections.show.theme' %><br>
    <%= f.select(:option_type, ItemOption.option_type.options) %>
  </p>
  <%= link_to_remove_association "remove field", f %>
</div>
