<div class="container">
  <p><%= link_to (t 'shared.back'), :back %></p>
  <h1><%= t('.header', collection_name: @collection.name) %></h1>

  <% if @collection.user == current_user %>
    <p><%= t('.my_col') %></p>
  <% else %>
    <p><%= t('.host_user', to_whom: @collection.user.email) %></p>
  <% end %>

  <%= render 'collections/single_collection' %>

  <% if (@collection.user == current_user) and !current_user.blocked %>
    <h2><%= t '.add' %></h2>
    <%= render 'items/formnew_item' %>
    <h2><%= t '.items' %></h2>
    <%= render 'items/formupdate_item' %>
  <% else %>
    <h2><%= t '.items' %></h2>
    <%= render @collection.items %>
  <% end %>
</div>
