<p><%= link_to 'Home', root_path %></p>
<% if @host_user.id == current_user.id %>
  <h1>Your Collections</h1>
<% else %>
  <h1>Another User Collections</h1>
  <p>You are now visiting <%= @host_user.email %>'s page</p>
<% end %>
<p>You're now logged in as <%= current_user.email %></p>

<h2>Add collection</h2>
<%= render 'collections/formnew' %>

<h2>Collections</h2>
<%= render @host_user.collections %>
