<div class="container">
  <p><%= link_to (t 'shared.back'), :back %></p>

  <% if user_signed_in? and current_user.admin and !@host_user.admin %>
    <%= link_to (t 'shared.delete'), user_ban_path(@host_user), method: :delete, data: { confirm: (t 'shared.sure') }, class: "btn btn-danger" %>
    <%= link_to @host_user.blocked ? (t 'shared.unblock') : (t "shared.block"), user_ban_path(@host_user), method: :put, class: "btn btn-dark" %>
    <%= link_to @host_user.admin ? (t 'shared.take_admin') : (t 'shared.give_admin'), user_privileges_path(@host_user), method: :put, class: "btn btn-primary" %>
  <% end %>

  <div class="container">
    <% if user_signed_in? %>
      <% if @host_user.id == current_user.id %>
        <h1><%= t '.your' %></h1>
        <% if !current_user.blocked %>
          <%= link_to (t '.add'), new_collection_path, class: "btn btn-success" %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <% if !user_signed_in? or (@host_user.id != current_user.id) %>
    <h1><%= t '.other' %></h1>
    <p><%= t('.host_user', who_it: @host_user.email) %></p>
  <% end %>
  <div class="container">
    <h2><%= t '.collections' %></h2>
    <%= render @host_user.collections %>
  </div>
</div>
