<p><%= link_to 'Home', root_path %></p>
<h1>Your Collections</h1>
<p>You're now logged in as <%= current_user.email %></p>

<h2>Collections</h2>
<% current_user.collections.each do |collection| %>
  <div>
    <p>
      <strong>Collection name</strong>
      <%= collection.name %>
    </p>
    <p>
      <strong>Description</strong>
      <%= collection.description %>
    </p>
    <p>
      <p><%= link_to 'view', user_collection_path(current_user, collection) %></p>
    </p>
  </div>
<% end %>

<h2>Add collection</h2>
<%= form_for Collection.new, url: user_collections_path(current_user), method: :create do |form| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <p>
    <%= form.label ("Collection name") %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :Description %><br>
    <%= form.text_area :description %>
  </p>
  <%= form.submit %>
<% end %>
