<h1><%= t '.welcome' %></h1>

<% if user_signed_in? %>
  <%= form_for current_user, url: user_path(current_user), method: :put do |form| %>
    <%= form.radio_button :locale, "en", id: "en" %>
    <%= form.label "English", for: "en" %>
    <%= form.radio_button :locale, "ru", id: "ru" %>
    <%= form.label "Русский", for: "ru" %>
    <%= form.submit t '.save', class: "btn" %>
  <% end %>
  <p><%= t('info.logged', who_am_i: current_user.email) %></p>
  <p><%= link_to (t 'links.office'), user_path(current_user) %></p>
<% else %>
  <p><%= t 'info.anon' %></p>
<% end %>

<p><%= link_to (t '.userslist'), users_path %></p>

<% if user_masquerade? %>
  <%= link_to "reverse masquerade", back_masquerade_path(current_user) %>
<% end %>
