<div class="container">
  <div class="container">
    <h1><%= t '.welcome' %></h1>
    <% if user_signed_in? %>
      <p><%= link_to (t 'shared.office'), user_path(current_user) %></p>
    <% end %>
    <p><%= link_to (t '.userslist'), users_path %></p>
  </div>
  
  <div class="container">
    <h2><%= t 'welcome.index.taglist' %></h2>
    <% tag_cloud(@tags, %w(h4 h3 h2 h1)) do |tag, css_class| %>
      <%= link_to tag, results_path(tag: tag.name), class: css_class %>
    <% end %>
  </div>

  <div class="container">
    <h2><%= t 'welcome.index.latest' %></h2>
    <% @latest_items.each do |item| %>
      <h2><%= t('items.index.item', item_name: item.name) %></h2>
      <p>
        <strong><%= t 'items.show.from_col' %></strong>
        <%= item.collection.name %>
      </p>
      <p>
        <strong><%= t 'items.show.created' %></strong>
        <%= l item.created_at.to_date %>
      </p>
      <p>
        <%= link_to (t 'items.index.view'), item_path(item.id) %>
      </p>
    <% end %>
  </div>
</div>
