<div>
  <h3><%= t('items.index.item', item_name: @item.name) %></h3>
  <%= form_for @item, url: collection_item_path(@collection, @item), method: :put do |form| %>
    <p>
      <%= form.label t 'items.index.name' %><br>
      <%= form.text_field :name %><br>
      <i><%= t 'items.index.warning' %></i>
    </p>
    <!-- form.autocomplete_field :tag_list, autocomplete_path, 'data-delimiter' => ',', :multiple => true -->
    <p>
      <%= 'Tags:' %>
      <%= form.text_field :tag_list, value: @item.public_send(:tag_list).to_s %>
    </p>

    <%= form.fields_for :item_option_values do |option_input| %>
      <% case option_input.object.item_option.option_type %>
        <% when 'integer' %>
          <%= option_input.hidden_field :item_option_id, value: option_input.object.item_option.id %>
          <%= option_input.label option_input.object.item_option.name %>
          <%= option_input.number_field :int_content %>
        <% when 'string' %>
          <%= option_input.hidden_field :item_option_id, value: option_input.object.item_option.id %>
          <%= option_input.label option_input.object.item_option.name %>
          <%= option_input.text_field :str_content %>
        <% when 'date' %>
          <%= option_input.hidden_field :item_option_id, value: option_input.object.item_option.id %>
          <%= option_input.label option_input.object.item_option.name %>
          <%= option_input.date_field :date_content %>
        <% when 'bool' %>
          <%= option_input.hidden_field :item_option_id, value: option_input.object.item_option.id %>
          <label>
            <%= option_input.check_box :bool_content %>
            <%= option_input.label option_input.object.item_option.name %>
          </label>
      <% end %>
    <% end %>
    
    <p>
      <%= form.submit (t 'items.index.update'), class: "btn btn-success" %>
      <%= link_to (t 'items.index.remove'), collection_item_path(@collection, @item), method: :delete, data: { confirm: (t 'shared.sure') }, class: "btn btn-danger" %>
      <%= link_to (t 'items.index.view'), item_path(@item), class: "btn btn-primary" %>
    </p>
  <% end %>
</div>
