<%= form_for @item, url: collection_items_path(@collection), method: :create do |form| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <p>
    <%= form.label t 'items.index.name' %><br>
    <%= form.text_field :name %><br>
    <i><%= t 'items.index.warning' %></i>
  </p>
  <p>
    <%= 'Tags:' %>
    <%= form.text_field :tag_list %>
  </p>

<%= form.fields_for :item_option_values do |option_input| %>
  <% case option_input.object.item_option.option_type %>
    <% when 'integer' %>
      <%= option_input.hidden_field :item_option_id, value: option_input.object.item_option.id %>
      <%= option_input.label option_input.object.item_option.name %>
      <%= option_input.number_field :int_content %>
    <% when 'string' %>
      <%= option_input.hidden_field :item_option_id, value: option_input.object.item_option.id %>
      <%= option_input.label option_input.object.item_option.name %>
      <%= option_input.text_field :str_content %>
    <% when 'date' %>
      <%= option_input.hidden_field :item_option_id, value: option_input.object.item_option.id %>
      <%= option_input.label option_input.object.item_option.name %>
      <%= option_input.date_field :date_content %>
    <% when 'bool' %>
      <%= option_input.hidden_field :item_option_id, value: option_input.object.item_option.id %>
      <label>
        <%= option_input.check_box :bool_content %>
        <%= option_input.label option_input.object.item_option.name %>
      </label>
  <% end %>
<% end %>

  <%= form.submit (t 'items.index.create'), class: "btn btn-success" %>
<% end %>
