<div>
  <h3><%= t('items.index.item', item_name: item.name) %></h3>
  <p>
    <strong><%= 'Tags:' %></strong>
    <%= @item.tag_list %>
  </p>

  <% item.item_option_values.each do |item_option_value| %>
    <% case item_option_value.item_option.option_type %>
      <% when 'integer' %>
        <strong><%= item_option_value.item_option.name %></strong>
        <%= item_option_value.int_content %></br>
      <% when 'string' %>
        <strong><%= item_option_value.item_option.name %></strong>
        <%= item_option_value.str_content %></br>
      <% when 'date' %>
        <strong><%= item_option_value.item_option.name %></strong>
        <%= l(item_option_value.date_content.to_date) %></br>
      <% when 'bool' %>
        <strong><%= item_option_value.item_option.name %></strong>
        <%= item_option_value.bool_content %></br>
    <% end %>
  <% end %>

  <p><%= link_to (t 'items.index.view'), item_path(item) %></p>
  <% if user_signed_in? and (@collection.user.id == current_user.id) and !current_user.blocked %>
    <p><%= link_to 'edit', edit_collection_item_path(@collection, item) %></p>
  <% end %>
</div>
