<div class='container'>
  <p><%= link_to (t 'shared.back'), :back %></p>
  <h3><%= t('items.index.item', item_name: @item.name) %></h3>

  <% if (current_user == @item.collection.user) %>
    <p>my item</p>
  <% else %>
    <p>not my item</p>
  <% end %>
  <p>
    <strong><%= 'Tags:' %></strong>
    <%= @item.tag_list %>
  </p>
  <p>
  <% @item.item_option_values.each do |item_option_value| %>
    <%= render 'items/item_displaying', :item_option_value => item_option_value %>
  <% end %>
  </p>
</div>
