<!DOCTYPE html>
<html>
  <head>
    <title>Collections</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul class="hmenu">
        <li><%= link_to (t 'shared.home'), root_path %></li>
        <%= render 'templates/my_collection_item' %>
        <%= render 'templates/devise/registration_items' %>
        <%= render 'templates/devise/login_items' %>
      </ul>
    </nav>
    <%= render 'templates/language_items' %>
    <%= render 'templates/identity_items' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
